// 1. Use the iOS devices hardware accelerator to provide native scrolling.
html {
	background: $site-background;
	box-sizing: border-box;
	color: $base-text-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	-webkit-overflow-scrolling: touch; // 1
}

// Fix the box model
*,
:before,
:after { box-sizing: inherit; }

// Remove text-shadow in selection highlight: h5bp.com/i
::selection {
	background: $selection-background;
	text-shadow: none;
}

// Set focus on elements that can recieve it.
// http://www.w3.org/TR/html401/interact/forms.html#adef-tabindex
:focus {
	outline: $selection-focus-color;
	outline-offset: $selection-focus-offset;
	outline-style: $selection-focus-style;
	outline-width: $selection-focus-width;
}

// Suppress the focus outline on links that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
[tabindex='-1']:focus { outline: none !important; }

// IE11 on Windows 8 & WP8 show outline on the body and divs.
_::-ms-reveal,
body:not([tabindex]):focus,
div:not([tabindex]):focus { outline: none !important; }

// Headers
// 1: Prevent page breaking.
// 2: Improve rendering of screen fonts.
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: $headings-color;
	font-family: $headings-font-family;
	page-break-after: avoid; // 1
	text-rendering: optimizeLegibility; // 2
}

// Address variable `h1` font-size and margin within `section` and `article`
// contexts in Firefox 4+, Safari, and Chrome.
h1,
.h1 {
	font-size: $h1-font-size;
	margin: $h1-margin;
}

h2,
.h2 {
	font-size: $h2-font-size;
	margin: $h2-margin;
}

h3,
.h3 {
	font-size: $h3-font-size;
	margin: $h3-margin;
}

h4,
.h4 {
	font-size: $h4-font-size;
	margin: $h4-margin;
}

h5,
.h5 {
	font-size: $h5-font-size;
	margin: $h5-margin;
}

h6,
.h6 {
	font-size: $h6-font-size;
	margin: $h6-margin;
}

// Default margin for paragraph
p { margin: $paragraph-margin; }

// Basic styles for links
a {
	color: $link-color;
	text-decoration: $link-text-decoration;

	&:hover {
		color: $link-color-hover;
		text-decoration: $link-text-decoration-hover;
	}
}

// A better looking default horizontal rule
hr {
	border: 0;
	border-top: 1px solid $horizontal-rule-color;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

// A better looking default blockquote
blockquote {
	background: $blockquote-background;
	border-left: $blockquote-border-left;
	padding: 1em 1em 1em 1.5em;
}
