.container {
	margin: 0 auto;
	max-width: $site-width; /* Manages width in a single place */
	width: 95%;

	&.fixed,
	.fixed .container { width: $site-width; /* Manages width in a single place */ }
}

/*
 * Clearfix: contain floats
 */
.row { @extend .clearfix; }

/* Columns */
[class*=col-] {
	display: block;
	float: left;
	min-height: 1px;
	position: relative;
	width: 100%;
}

.no-gutter.pad-gutter > [class*=col-] { padding: 0 1%; }

@include grid-base(xs);

@include grid-columns(xs);