/*
 * Image replacement
 */
%ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;

	&:before {
		content: '';
		display: block;
		height: 150%;
		width: 0;
	}
}

.ir { @extend %ir; }

/*
 * Hide from both screen readers and browsers: h5bp.com/u
 */
%hidden {
	display: none !important;
	visibility: hidden;
}

.hidden { @extend %hidden; }

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */
%visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	/*
	 * Extends the .visuallyhidden class to allow the element to be focusable
	 * when navigated to via the keyboard: h5bp.com/p
	 */
	&.focusable {
		&:active,
		&:focus {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
		}
	}
}

.visuallyhidden { @extend %visuallyhidden; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible { visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	`contenteditable` attribute is included anywhere else in the document.
 *	Otherwise it causes space to appear at the top and bottom of elements
 *	that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	`:before` to contain the top-margins of child elements.
 */
%clearfix {
	&:before,
	&:after {
		content: ' ';/* 1 */
		display: table; /* 2 */
	}

	&:after { clear: both; }
}

.clearfix { @extend %clearfix; }

/*
 * Float helpers
 */
%push-center {
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.push-left { float: left !important; }
.push-center { @extend %push-center; }
.push-right { float: right !important; }

/*
 * Layout helpers
 */
.block { display: block !important; }
.inline-block { display: inline-block !important; }
.inline { display: inline !important; }

/*
 * Text align helpers
 */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/*
 * Fade opacity with animation
 */
.fade-out { opacity: 0 !important; }

/*
 * Opacity helper to add to elements to allow fade animation
 */
.fade-out,
.fade-in { transition: opacity 0.3s; }

.fade-in { opacity: 1 !important; }

/*
 * Responsive helpers to toggle visibility.
 */
.visible-xs,
.visible-s,
.visible-m,
.visible-l { display: none !important; }

@include bp(xs) {
	.hidden-xs { display: none !important; }

	.visible-xs { display: block !important; }

	table.visible-xs { display: table; }

	thead.visible-xs { display: table-header-group !important; }

	tfoot.visible-xs { display: table-footer-group !important; }

	tr.visible-xs { display: table-row !important; }

	th.visible-xs,
	td.visible-xs { display: table-cell !important; }

	col.visible-xs { display: table-column !important; }

	caption.visible-xs { display: table-caption !important; }
}

/*
 * 769 > viewport < 991px
 */
@include bp(s) {
	.hidden-s { display: none !important; }

	.visible-s { display: block !important; }

	table.visible-s { display: table !important; }

	thead.visible-s { display: table-header-group !important; }

	tfoot.visible-s { display: table-footer-group !important; }

	tr.visible-s { display: table-row !important; }

	th.visible-s,
	td.visible-s { display: table-cell !important; }

	col.visible-s { display: table-column !important; }

	caption.visible-s { display: table-caption !important; }
}

/*
 * 992px > viewport < 1200px
 */
@include bp(m) {
	.hidden-m { display: none !important; }

	.visible-m { display: block !important; }

	table.visible-m { display: table !important; }

	thead.visible-m { display: table-header-group !important; }

	tfoot.visible-m { display: table-footer-group !important; }

	tr.visible-m { display: table-row !important; }

	th.visible-m,
	td.visible-m { display: table-cell !important; }

	col.visible-m { display: table-column !important; }

	caption.visible-m { display: table-caption !important; }
}

/*
 * viewport > 1200px
 */
@include bp(l) {
	.hidden-l { display: none !important; }

	.visible-l { display: block !important; }

	table.visible-l { display: table !important; }

	thead.visible-l { display: table-header-group !important; }

	tfoot.visible-l { display: table-footer-group !important; }

	tr.visible-l { display: table-row !important; }

	th.visible-l,
	td.visible-l { display: table-cell !important; }

	col.visible-l { display: table-column !important; }

	caption.visible-l { display: table-caption !important; }
}
