// Image replacement
%ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;

	&:before {
		content: '';
		display: block;
		height: 150%;
		width: 0;
	}
}

.ir { @extend %ir; }

// Hide from both screen readers and browsers: h5bp.com/u
%hidden { display: none !important; }

.hidden { @extend %hidden; }

// Hide only visually, but have it available for screen readers: h5bp.com/v
%visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	// Extends the .visuallyhidden class to allow the element to be focusable
	// when navigated to via the keyboard: h5bp.com/p
	&.focusable {
		&:active,
		&:focus {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
		}
	}
}

.visuallyhidden { @extend %visuallyhidden; }

// Hide visually and from screen readers, but maintain layout
%invisible { visibility: hidden; }

.invisible { @extend %invisible; }

// Opacity helper to add to elements to allow fade animation
%fade-out,
%fade-in { transition: opacity 0.3s; }

// Fade opacity with animation
%fade-out { opacity: 0 !important; }

.fade-out { @extend %fade-out; }

%fade-in { opacity: 1 !important; }

.fade-in { @extend %fade-in; }

// Responsive helpers to toggle visibility.
.visible-xxs,
.visible-xs,
.visible-s,
.visible-m,
.visible-l { display: none !important; }

// XXS, XS, S, M, L viewports
@each $bp in $grid-breakpoints {
	@include visibility($bp);
}
