// -------------------------------------------------------------------------- //
//	Image Replacement
// -------------------------------------------------------------------------- //
@mixin ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;

	&:before {
		content: '';
		display: block;
		height: 150%;
		width: 0;
	}
}

// -------------------------------------------------------------------------- //
//	Visually Hidden
// -------------------------------------------------------------------------- //
// Hide only visually, but have it available for screen readers: h5bp.com/v
@mixin visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	// Extends the .visuallyhidden class to allow the element to be focusable
	// when navigated to via the keyboard: h5bp.com/p
	&.focusable {
		&:active,
		&:focus {
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
		}
	}
}

// -------------------------------------------------------------------------- //
//	Creates visibility classes for each breakpoint.
// -------------------------------------------------------------------------- //
@mixin visibility($bp) {
	@media #{bp($bp)} {
		.u-hidden-#{$bp} { display: none !important; }

		.u-visible-#{$bp} { display: block !important; }

		.u-visible-#{$bp}.u-inline { display: inline !important; }

		.u-visible-#{$bp}.u-inline-block { display: inline-block !important; }

		table.u-visible-#{$bp} { display: table; }

		thead.u-visible-#{$bp} { display: table-header-group !important; }

		tfoot.u-visible-#{$bp} { display: table-footer-group !important; }

		tr.u-visible-#{$bp} { display: table-row !important; }

		th.u-visible-#{$bp},
		td.u-visible-#{$bp} { display: table-cell !important; }

		col.u-visible-#{$bp} { display: table-column !important; }

		caption.u-visible-#{$bp} { display: table-caption !important; }
	}
}
