<!DOCTYPE html>
<html lang="fi">
<!--[if lte IE 8]>     <html lang="fi" class="no-js old-ie"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="fi" class="no-js">        <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Project Name</title>

	<meta name="description" content="">

	<link rel="stylesheet" href="css/style.min.css">

	<!--[if lte IE 8 &!(IEMobile)]>
		<script src="js/html5shiv.min.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>