/* ---------------------------------------------------------------------- */
/*	Media Queries
/* ---------------------------------------------------------------------- */

@mixin bp($point) {
	@if $point == xs {
		@media (max-width: $grid-breakpoint-xs-max) {
			@content;
		}
	} @else if $point == s {
		@media (min-width: $grid-breakpoint-s-min) and (max-width: $grid-breakpoint-s-max) {
			@content;
		}
	} @else if $point == m {
		@media (min-width: $grid-breakpoint-m-min) and (max-width: $grid-breakpoint-m-max) {
			@content;
		}
	} @else if $point == l {
		@media (min-width: $grid-breakpoint-l-max) {
			@content;
		}
	}
}

@mixin bp-min($point) {
	@if $point == s {
		@media (min-width: $grid-breakpoint-s-min) {
			@content;
		}
	} @else if $point == m {
		@media (min-width: $grid-breakpoint-m-min) {
			@content;
		}
	} @else if $point == l {
		@media (min-width: $grid-breakpoint-l-max) {
			@content;
		}
	}
}

@mixin bp-max($point) {
	@if $point == xs {
		@media (max-width: $grid-breakpoint-xs-max) {
			@content;
		}
	} @else if $point == s {
		@media (max-width: $grid-breakpoint-s-max) {
			@content;
		}
	} @else if $point == m {
		@media (max-width: $grid-breakpoint-m-max) {
			@content;
		}
	}
}

/* ---------------------------------------------------------------------- */
/*	Grid System
/* ---------------------------------------------------------------------- */

@mixin grid-base($bp) {
	[class*=col-#{$bp}] + [class*=col-#{$bp}] { margin-left: $grid-column-margin; }

	.no-gutter > [class*=col-#{$bp}] { margin-left: 0; }

	[class*=col-] {
		&.reset-#{$bp} {
			clear: both;
			margin-left: 0 !important;
		}

		&[class*=push-#{$bp}-right] { float: right; }
	}

	@if $bp != 'l' {
		@include bp-max($bp) {

			[class*=col-] {
				&.reset-#{$bp}-only {
					clear: both;
					margin-left: 0 !important;
				}

				&[class*=push-#{$bp}-right-only] { float: right; }
			}

		}
	}
}

@mixin grid-columns($bp) {
	$column-width: (100% / $grid-column-count);
	$column-width-with-margin: (100% - ($grid-column-margin * ($grid-column-count - 1))) / $grid-column-count;

	@for $i from 1 to ($grid-column-count + 1) {
		$temp-width: $column-width-with-margin * $i + ($grid-column-margin * $i);

		.col-#{$bp}-#{$i} { width: $temp-width - $grid-column-margin; }

		@if $i != $grid-column-count {
			.offset-#{$bp}-#{$i} { margin-left: $temp-width; }

			[class*=col-] + .offset-#{$bp}-#{$i} { margin-left: $temp-width + $grid-column-margin; }

			.push-#{$bp}-#{$i} { left: $temp-width; }

			.pull-#{$bp}-#{$i} { right: $temp-width; }
		} @else {
			.col-#{$bp}-#{$i},
			[class*=col-] + [class*=col-#{$bp}-#{$i}] { margin-left: 0; }
		}
	}

	.no-gutter > {
		@for $i from 1 to $grid-column-count {
			$temp-width: $column-width * $i;

			.col-#{$bp}-#{$i} { width: $temp-width; }

			.offset-#{$bp}-#{$i} { margin-left: $temp-width; }

			.push-#{$bp}-#{$i} { left: $temp-width; }

			.pull-#{$bp}-#{$i} { right: $temp-width; }
		}
	}
}
