.alert {
	@extend %clearfix;
	background-color: $alert-background-color;
	border-left: 5px solid $alert-border-color;
	color: darken($alert-background-color, 50);
	margin: 1rem 0;
	padding: 0 1rem;
	position: relative;

	.close {
		background-color: transparent;
		border: 0;
		color: inherit;
		float: right;
		font-size: 1.17rem;
		font-weight: bold;
		position: relative;
		right: -2.73rem;
		top: 0.13rem;

		[dir='rtl'] & {
			float: left;
			left: -2.73rem;
			right: auto;
		}

		&:hover { text-decoration: underline; }
	}
}

.alert-dismissable {
	padding-right: 2.87rem;

	[dir='rtl'] & {
		padding-left: 2.87rem;
		padding-right: 1rem;
	}
}

.alert-heading { color: inherit; }
