.alert {
	@extend %clearfix;
	background-color: $alert-background-color;
	border-left: 5px solid $alert-border-color;
	color: darken($alert-background-color, 50);
	margin: 1em 0;
	padding: 0 1em;
	position: relative;

	&.-type-dismissable {
		padding-right: 2.87em;

		[dir='rtl'] & {
			padding-left: 2.87em;
			padding-right: 1em;
		}
	}

	&__close {
		@extend %btn-reset;
		float: right;
		font-size: 1.1875em;
		font-weight: bold;
		padding: 0.4211em 0.9474em;
		position: relative;
		right: -2.4211em;
		top: 0;

		[dir='rtl'] & {
			float: left;
			left: -2.4211em;
			right: auto;
		}

		&:hover { text-decoration: underline; }
	}

	&__heading { color: inherit; }
}
