// Colors and padding.
// 1: Address odd `em`-unit font size rendering in all browsers.
pre,
code,
samp,
kbd {
	background-color: $code-background-color;
	border: 1px solid $code-border-color;
	color: font(code, color);
	font-family: font(code, family);
	font-size: 1em; // 1
	padding: 0.5em;
}

code > kbd { background-color: darken($code-background-color, 5); }

// Prevent overlap on concurrent lines.
code,
samp,
kbd { padding: 0.0667em 0.25em; }

// Prevent wrapping.
kbd { white-space: nowrap; }

// Reassert no wrapping.
pre {
	overflow-x: auto;

	// Remove borders etc in pre.
	code,
	samp {
		border: 0;
		padding: 0;
	}

	code {
		white-space: pre;
		word-wrap: normal;
	}
}

// Fixed height with overflow.
.pre-scrollable {
	max-height: 20em;
	overflow-y: scroll;
}
