// Unordered and ordered lists
// Scale the padding/margin with the base font.
ul,
ol {
	margin: 1em 0;
	padding-left: 2.5em;

	[dir='rtl'] & {
		padding-left: 0;
		padding-right: 2.5em;
	}
}

ul ul,
ol ol { margin: 0; }

// No bullets on first level
.list-no-bullets { @include list-no-bullets; }

// Coloured lists.
.list-colored-bullets {
	padding-left: 2.5em;

	> li {
		list-style-type: none;
		position: relative;

		// 1. Normalize funky webkit margin
		// 2. Escaped unicode coloured circle.
		// 3. Edit this property to change all colored class lists.
		&:before {
			color: $list-colored-bullet; // 3
			content: '\25cf'; // 2
			font-size: 0.8em;
			left: -1.25em;
			-webkit-margin-start: -0.3125em; // 1
			position: absolute;
			text-align: right;
			text-decoration: none;
			top: 0.125em;

			[dir='rtl'] & {
				left: auto;
				right: -1.25em;
				text-align: left;
			}
		}
	}
}

// Counter increment to replace standard numbers.
ol.list-colored-bullets {
	counter-reset: foo;

	> li {
		counter-increment: foo;

		// Use the :before pseudo element to supply numbers.
		// 1. The counter value.
		// 2. Normalize funky webkit margin
		&:before {
			content: counter(foo) '.'; // 1
			font-size: 1em;
			left: -3.125em;
			-webkit-margin-start: 0; // 2
			top: 0;
			width: 2.5em;

			[dir='rtl'] & { right: -3.125em; }
		}
	}
}

// Definition lists
// Prevent dt and dd collapse.
dt,
dd { min-height: 1.4em; }

@media #{bp-min(s)} {
	// Horizontally styled definition list
	.dl-horizontal {
		> dt {
			clear: left;
			float: left;
			overflow: hidden;
			text-align: right;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 9.375em;

			[dir='rtl'] & {
				clear: right;
				float: right;
				text-align: left;
			}
		}

		> dd {
			margin-left: 10.375em;

			[dir='rtl'] & {
				margin-left: auto;
				margin-right: 10.375em;
			}
		}
	}
}
