// -------------------------------------------------------------------------- //
//	Media Query Breakpoints
//
//	@param {String} $bp
//	@return {String}
// -------------------------------------------------------------------------- //
@function bp($bp) {
	$breakpoints: grid(breakpoints);

	// Does breakpoint exist
	@if map-has-key($breakpoints, $bp) {
		$breakpoint: map-get($breakpoints, $bp);
	} @else {
		@warn 'Breakpoint `#{$bp}` not found!';
	}

	@if $bp == xxs {
		@return '(max-width: #{map-get($breakpoint, max)})';
	} @elseif $bp == xs {
		@return 'print and (max-width: #{map-get($breakpoint, print)}), screen and (min-width: #{map-get($breakpoint, min)}) and (max-width: #{map-get($breakpoint, max)})';
	} @elseif $bp == s {
		@return 'print and (min-width: #{map-get($breakpoint, print)}) and (max-width: #{map-get($breakpoint, max)}), screen and (min-width: #{map-get($breakpoint, min)}) and (max-width: #{map-get($breakpoint, max)})';
	} @elseif $bp == m {
		@return '(min-width: #{map-get($breakpoint, min)}) and (max-width: #{map-get($breakpoint, max)})';
	} @elseif $bp == l {
		@return '(min-width: #{map-get($breakpoint, min)})';
	} @else {
		@return 'all';
	}
}

@function bp-min($bp) {
	$breakpoints: grid(breakpoints);

	// Does breakpoint exist
	@if map-has-key($breakpoints, $bp) {
		$breakpoint: map-get($breakpoints, $bp);
	} @else {
		@warn 'Breakpoint `#{$bp}` not found!';
	}

	@if $bp == xs or $bp == s {
		@return 'print and (min-width: #{map-get($breakpoint, print)}), screen and (min-width: #{map-get($breakpoint, min)})';
	} @elseif $bp == m or $bp == l {
		@return '(min-width: #{map-get($breakpoint, min)})';
	} @else {
		@return 'all';
	}
}

@function bp-max($bp) {
	$breakpoints: grid(breakpoints);

	// Does breakpoint exist
	@if map-has-key($breakpoints, $bp) {
		$breakpoint: map-get($breakpoints, $bp);
	} @else {
		@warn 'Breakpoint `#{$bp}` not found!';
	}

	@if $bp == xxs or $bp == s or $bp == m {
		@return '(max-width: #{map-get($breakpoint, max)})';
	} @elseif $bp == xs {
		@return 'print and (max-width: #{map-get($breakpoint, print)}), screen and (max-width: #{map-get($breakpoint, max)})';
	} @else {
		@return 'all';
	}
}
