// Reset button styles and make it look like a normal text
%u-btn-reset {
	border: 0;
	display: inline;
	margin: 0;
	min-height: 0;
	padding: 0;
	vertical-align: baseline;

	&,
	&:hover,
	&:focus,
	&:active {
		background: none;
		color: inherit;
		outline: none;
	}
}

.u-btn-reset { @extend %u-btn-reset; }

// No bullets on first level
%u-no-bullets {
	padding-left: 0;

	[dir='rtl'] & { padding-right: 0; }

	> li { list-style: none; }
}

ul.u-no-bullets,
ol.u-no-bullets { @extend %u-no-bullets; }
