// Clearfix: contain floats
.u-clearfix { @include clearfix; }

// Float helpers
.u-push {
	float: right;

	[dir='rtl'] & { float: left; }
}

.u-pull {
	float: left;

	[dir='rtl'] & { float: right; }
}

// XXS, XS, S, M, L viewports
@each $bp in map-keys(grid(breakpoints)) {
	@include push-pull($bp);
}

// Layout helpers
.u-block { display: block; }

.u-inline-block { display: inline-block; }

.u-inline { display: inline; }

// XXS, XS, S, M, L viewports
@each $bp in map-keys(grid(breakpoints)) {
	@include layout($bp);
}

// Text align helpers
.u-text-left {
	text-align: left;

	[dir='rtl'] & { text-align: right; }
}

.u-text-right {
	text-align: right;

	[dir='rtl'] & { text-align: left; }
}

.u-text-center { text-align: center; }

// XXS, XS, S, M, L viewports
@each $bp in map-keys(grid(breakpoints)) {
	@include text-align($bp);
}

// Grid state detection.
.u-grid-state-indicator {
	height: 1px;
	position: absolute;
	top: -9999px;
	width: 0;
}

// Breakpoint driven changes. 0 based so we can parse easily with JavaScript.
@each $bp in map-keys(grid(breakpoints)) {
	@include grid-state($bp, index(map-keys(grid(breakpoints)), $bp) - 1 * 1px);
}

// Scrollbar width measurement helper
.u-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

// 1: Locks the height of the document removing the scrollbar.
[data-lock] {
	&,
	& body {
		height: 100%;
		overflow: hidden;
		touch-action: none;
	}
}
