.u-ir { @include ir; }

.u-visuallyhidden { @include visuallyhidden; }

// Hide from both screen readers and browsers: h5bp.com/u
.u-hidden { display: none !important; }

// Hide visually and from screen readers, but maintain layout
.u-invisible { visibility: hidden; }

// Opacity helper to add to elements to allow fade animation
.u-fade-out,
.u-fade-in { transition: opacity 0.3s; }

// Fade opacity with animation
.u-fade-out { opacity: 0 !important; }

.u-fade-in { opacity: 1 !important; }

// Responsive helpers to toggle visibility.
.u-visible-xxs,
.u-visible-xs,
.u-visible-s,
.u-visible-m,
.u-visible-l { display: none !important; }

// XXS, XS, S, M, L viewports
@each $bp in map-keys(grid(breakpoints)) {
	@include visibility($bp);
}
