.tabs {
	position: relative;
}

	.tabs > ul {
		border-bottom: 1px solid #c0c0c0;
		list-style: none;
		margin-top: 0;
		padding: 0;
	}

		.tabs > ul:before, .tabs > ul:after {
			content: '';
			display: table;
		}

		.tabs > ul:after {
			clear: both;
		}

		.tabs > ul > li {
			float: left;
			margin-bottom: -1px;
		}

			.tabs > ul > li > a {
				border: 1px solid transparent;
				cursor: pointer;
				display: block;
				line-height: 2em;
				margin-right: .2em;
				outline: none;
				padding: 0 1em;
				text-decoration: none;
			}

				.tabs > ul > li > a:hover {
					background-color: #ebebeb;
					border-color: #c0c0c0;
				}

			.tabs > ul > li.tab-active > a,
			.tabs > ul > li.tab-active > a:hover {
				background-color: #fff;
				border-bottom-color: transparent;
				border: 1px solid #c0c0c0;
				color: #454545;
				cursor: default;
			}

	.tabs > * {
		display: none;
	}

		.tabs > ul,
		.tabs > *.tab-pane-active {
			display: block;
		}