/*
 * Normalize button borders, color, and padding.
 * 1: Remove rounded corners on iPhone.
 * 2: Remove 300ms touch delay.
 */
button,
input[type=submit],
input[type=button],
input[type=reset],
[role=button] {
	-webkit-appearance: none; /* 1 */
	background-color: #dadada;
	border-radius: 0; /* 1 */
	border: solid 1px #c0c0c0;
	color: #222;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	line-height: normal;
	margin-bottom: 0;
	padding: .5em 1em;
	position: relative;
	text-decoration: none !important;
	touch-action: none; /* 2 */

	/*
	 * Button states.
	 */
	&:hover {
		background-color: #cdcdcd;
		color: #222;
	}

	&:focus {
		color: #222;
		outline: 1px solid #00a9ec;
		outline-offset: -1px;
	}

	&:active {
		background-color: #e7e7e7;
		color: #222;
		outline: none;
	}
}

	/*
	 * 1. Fix IOS 6/7 opacity issue
	 */
	button[disabled],
	input[type=submit][disabled],
	input[type=button][disabled],
	input[type=reset][disabled],
	[role=button].disabled {
		background-color: #e7e7e7;
		color: #5d5d5d;
		cursor: not-allowed;
		opacity: 1;
	}

	/*
	 * Inline buttons designed for rendering next to inputs.
	 * 1. Fix inline-block margin.
	 * 2. Pad buttons.
	 */
	button.btn-inline,
	input[type=submit].btn-inline,
	input[type=button].btn-inline,
	input[type=reset].btn-inline,
	[role=button].btn-inline {
		margin-left: -.27em; /* 1 */
		padding: .25em 1em; /* 2 */
	}

/*
 * Reset width for inputs
 */
 input,
 .form-no-grid input {
	&[type=submit],
	&[type=reset],
	&[type=button] {
		max-width: none;
		width: auto;
	}
 }

/*
 * Grouped buttons.
 */
.btn-group {
	@extend .clearfix;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;

	> * { float: left; }
}
