.container {
	margin: 0 auto;
	max-width: $site-width; /* Manages width in a single place */
	width: 95%;

	&.fixed,
	.fixed .container { width: $site-width; /* Manages width in a single place */ }
}

[class*=col-] {
	display: block;
	float: left;
	min-height: 1px;
	position: relative;
	width: 100%;
}

@include grid-base(xs);

.row {
	@extend .clearfix;

	&.no-gutter {
		&.pad-gutter > [class*=col-] { padding: 0 1%; }

		> [class*=col-] + [class*=col-] { margin-left: 0; }
	}
}

@include grid-columns(xs);