@charset 'UTF-8';

/* ---------------------------------------------------------------------- */
/*	General Styles
/* ---------------------------------------------------------------------- */

$site-background: #fff !default;
$site-width: 1140px !default;
$site-min-width: 320px !default;

$base-font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif !default;
$base-font-size: 100% !default;
$base-font-size-px: 16px !default; /* used for calculations */
$base-line-height: 1.375 !default;
$base-text-color: #222 !default;

$selection-background: #b3d4fc !default;
$selection-color: #fff !default;

/* ---------------------------------------------------------------------- */
/*	Utilities
/* ---------------------------------------------------------------------- */

@import 'utilities/variables';
@import 'utilities/functions';
@import 'utilities/mixins';

/* ---------------------------------------------------------------------- */
/*	Base Styles
/* ---------------------------------------------------------------------- */

@import 'partials/copyright';
@import 'partials/normalize';
@import 'partials/base';
@import 'partials/helpers-base';
@import 'partials/helpers';

/* ---------------------------------------------------------------------- */
/*	Grid System
/* ---------------------------------------------------------------------- */

@import 'partials/grid-base';
@import 'partials/grid-small';
@import 'partials/grid-medium';
@import 'partials/grid-large';

/* ---------------------------------------------------------------------- */
/*	CSS Components
/* ---------------------------------------------------------------------- */

@import	'partials/forms';
@import	'partials/buttons';
@import	'partials/media';
@import	'partials/lists';
@import	'partials/tables';
@import	'partials/alerts';
@import	'partials/code';

/* ---------------------------------------------------------------------- */
/*	JS Plugins
/* ---------------------------------------------------------------------- */

@import	'partials/lightbox';
@import	'partials/carousel';
@import	'partials/tabs';
@import	'partials/dropdown';
@import	'partials/tablelist';
@import	'partials/autosize';

/* ---------------------------------------------------------------------- */
/*	Print Styles
/* ---------------------------------------------------------------------- */

@import 'partials/print';