/*
 * Normalize button borders, color, and padding.
 * 1: Remove rounded corners on iPhone.
 * 2: Remove 300ms touch delay.
 */

button {
	-webkit-appearance: none;
	/* 1 */
	background-color: #dadada;
	border-radius: 0;
	/* 1 */
	border: solid 1px #c0c0c0;
	color: #222;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	line-height: normal;
	margin-bottom: 0;
	padding: .5em 1em;
	position: relative;
	text-decoration: none !important;
	-ms-touch-action: none;
	/* 2 */
	touch-action: none;
	/* 2 */
}

input {

	&[type="submit"], &[type="button"], &[type="reset"] {
		-webkit-appearance: none;
		/* 1 */
		background-color: #dadada;
		border-radius: 0;
		/* 1 */
		border: solid 1px #c0c0c0;
		color: #222;
		cursor: pointer;
		display: inline-block;
		font-size: 1em;
		line-height: normal;
		margin-bottom: 0;
		padding: .5em 1em;
		position: relative;
		text-decoration: none !important;
		-ms-touch-action: none;
		/* 2 */
		touch-action: none;
		/* 2 */
	}

}

[role="button"] {
	-webkit-appearance: none;
	/* 1 */
	background-color: #dadada;
	border-radius: 0;
	/* 1 */
	border: solid 1px #c0c0c0;
	color: #222;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	line-height: normal;
	margin-bottom: 0;
	padding: .5em 1em;
	position: relative;
	text-decoration: none !important;
	-ms-touch-action: none;
	/* 2 */
	touch-action: none;
	/* 2 */
}

/*
 * Reset width for inputs
 */

input {

	&[type="submit"], &[type="reset"], &[type="button"] {
		max-width: none;
		width: auto;
	}

}

.form-no-grid input {

	&[type="submit"], &[type="reset"], &[type="button"] {
		max-width: none;
		width: auto;
	}

}

/*
 * Button states.
 */

button:hover {
	background-color: #cdcdcd;
	color: #222;
}

input {

	&[type="submit"]:hover, &[type="button"]:hover, &[type="reset"]:hover {
		background-color: #cdcdcd;
		color: #222;
	}

}

[role="button"]:hover {
	background-color: #cdcdcd;
	color: #222;
}

button:focus {
	color: #222;
	outline: 1px solid #00a9ec;
	outline-offset: -1px;
}

input {

	&[type="submit"]:focus, &[type="button"]:focus, &[type="reset"]:focus {
		color: #222;
		outline: 1px solid #00a9ec;
		outline-offset: -1px;
	}

}

[role="button"]:focus {
	color: #222;
	outline: 1px solid #00a9ec;
	outline-offset: -1px;
}

button:active {
	background-color: #e7e7e7;
	color: #222;
	outline: none;
}

input {

	&[type="submit"]:active, &[type="button"]:active, &[type="reset"]:active {
		background-color: #e7e7e7;
		color: #222;
		outline: none;
	}

}

[role="button"]:active {
	background-color: #e7e7e7;
	color: #222;
	outline: none;
}

/*
 * 1. Fix IOS 6/7 opacity issue
 */

button[disabled] {
	background-color: #e7e7e7;
	color: #5d5d5d;
	cursor: not-allowed;
	opacity: 1;
}

input {

	&[type="submit"][disabled], &[type="button"][disabled], &[type="reset"][disabled] {
		background-color: #e7e7e7;
		color: #5d5d5d;
		cursor: not-allowed;
		opacity: 1;
	}

}

[role="button"].disabled {
	background-color: #e7e7e7;
	color: #5d5d5d;
	cursor: not-allowed;
	opacity: 1;
}

/*
 * Inline buttons designed for rendering next to inputs.
 * 1. Fix inline-block margin.
 * 2. Pad buttons.
 */

button.btn-inline {
	margin-left: -.27em;
	/* 1 */
	padding: .25em 1em;
	/* 2 */
}

input {

	&[type="submit"].btn-inline, &[type="button"].btn-inline, &[type="reset"].btn-inline {
		margin-left: -.27em;
		/* 1 */
		padding: .25em 1em;
		/* 2 */
	}

}

[role="button"].btn-inline {
	margin-left: -.27em;
	/* 1 */
	padding: .25em 1em;
	/* 2 */
}

/*
 * Grouped buttons.
 */

/*
 * Clearfix: contain floats
 */

.btn-group {

	&:before {
		content: '';
		display: table;
	}

	&:after {
		content: '';
		display: table;
		clear: both;
	}

	display: inline-block;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;

	> * {
		float: left;
	}

}
