/* ---------------------------------------------------------------------- */
/*	Variables
/* ---------------------------------------------------------------------- */

	/* -------------------------------------------------- */
	/*	General Styles
	/* -------------------------------------------------- */

	$site-background: #fff !default;
	$site-width: 1140px !default;
	$site-min-width: 320px !default;

	$base-font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif !default;
	$base-font-size: 100% !default;
	$base-font-size-px: 16 !default; /* used for calculations */
	$base-line-height: 1.375 !default;
	$base-text-color: #222 !default;

	$selection-background: #b3d4fc !default;
	$selection-color: #fff !default;

	/* -------------------------------------------------- */
	/*	Typography
	/* -------------------------------------------------- */

	$paragraph-margin: null !default;

	$heading-font-family: null !default;

	$h1-color: null !default;
	$h1-font-family: null !default;
	$h1-font-size: null !default;
	$h1-line-height: null !default;
	$h1-text-decoration: null !default;
	$h1-text-transform: null !default;

	$h2-color: null !default;
	$h2-font-family: null !default;
	$h2-font-size:  null !default;
	$h2-line-height: null !default;
	$h2-text-decoration: null !default;
	$h2-text-transform: null !default;

	$h3-color: null !default;
	$h3-font-family: null !default;
	$h3-font-size: null !default;
	$h3-line-height: null !default;
	$h3-text-decoration: null !default;
	$h3-text-transform: null !default;

	$h4-color: null !default;
	$h4-font-family: null !default;
	$h4-font-size: null !default;
	$h4-line-height: null !default;
	$h4-text-decoration: null !default;
	$h4-text-transform: null !default;

	$h5-color: null !default;
	$h5-font-family: null !default;
	$h5-font-size: null !default;
	$h5-line-height: null !default;
	$h5-text-decoration: null !default;
	$h5-text-transform: null !default;

	$h6-color: null !default;
	$h6-font-family: null !default;
	$h6-font-size: null !default;
	$h6-line-height: null !default;
	$h6-text-decoration: null !default;
	$h6-text-transform: null !default;

	/* -------------------------------------------------- */
	/*	Grid System
	/* -------------------------------------------------- */

	$grid-column-margin: 2% !default;

	/* -------------------------------------------------- */
	/*	Basic Elements
	/* -------------------------------------------------- */

		/* ------------------------------ */
		/*	Links
		/* ------------------------------ */

		$link-color: #0000ee !default;
		$link-text-decoration: none !default;
		$link-color-hover: #000 !default;
		$link-text-decoration-hover: underline !default;

		/* ------------------------------ */
		/*	Horizontal Rule
		/* ------------------------------ */

		$horizontal-line-color: #c0c0c0 !default;
		$horizontal-line-height: 1px !default;

		/* ------------------------------ */
		/*	Blockquote
		/* ------------------------------ */

		$blockquote-background: null !default;
		$blockquote-border-left: 5px solid #c0c0c0 !default;

		/* ------------------------------ */
		/*	Tables
		/* ------------------------------ */

		$table-bordered-border: 1px solid #c0c0c0 !default;

		$table-striped-background-color: #e7e7e7 !default;

	/* -------------------------------------------------- */
	/*	CSS Components
	/* -------------------------------------------------- */

		/* ------------------------------ */
		/*	Forms
		/* ------------------------------ */

		$form-placeholder: #c0c0c0 !default;

		$form-input-background: #fff !default;
		$form-input-border: 1px solid #c0c0c0 !default;
		$form-input-border-radius: 0 !default;
		$form-input-color: #222 !default;

		$form-input-background-focus: null !default;
		$form-input-border-color-focus: #00a9ec !default;
		$form-input-color-focus: null !default;

		$form-input-background-disabled: #ebebeb !default;
		$form-input-border-color-disabled: #c0c0c0 !default;
		$form-input-color-disabled: #c0c0c0 !default;

		$form-input-background-readonly: null !default;
		$form-input-border-color-readonly: #ebebeb !default;
		$form-input-color-readonly: null !default;

		/* ------------------------------ */
		/*	Buttons
		/* ------------------------------ */

		$button-background: #dadada !default;
		$button-border: solid 1px #c0c0c0 !default;
		$button-border-radius: 0 !default;
		$button-color: #222 !default;

		$button-background-hover: #cdcdcd !default;
		$button-border-color-hover: null !default;
		$button-color-hover: #222 !default;

		$button-background-focus: #cdcdcd !default;
		$button-border-color-focus: #00a9ec !default;
		$button-color-focus: #222 !default;

		$button-background-active: #e7e7e7 !default;
		$button-border-color-active: transparent !default;
		$button-color-active: #222 !default;

		$button-background-disabled: #e7e7e7 !default;
		$button-border-color-disabled: #c0c0c0 !default;
		$button-color-disabled: #5d5d5d !default;

		/* ------------------------------ */
		/*	Lists
		/* ------------------------------ */

		$list-colored-bullet: #00a9ec !default;

		/* ------------------------------ */
		/*	Alerts
		/* ------------------------------ */

		$alert-color-scheme: #f2e187 !default;

	/* -------------------------------------------------- */
	/*	JS Plugins
	/* -------------------------------------------------- */

		/* ------------------------------ */
		/*	Lightbox
		/* ------------------------------ */

		$lightbox-header-background: transparent !default;
		$lightbox-header-color: #fff !default;

		$lightbox-footer-background: transparent !default;
		$lightbox-footer-color: #fff !default;

		$lightbox-content-background-color: #fff !default;

		$lightbox-media-background-color: #111 !default;

		$carousel-control-color: #fff !default;
		$carousel-control-text-decoration: none !default;

		$carousel-control-color-hover: #fff !default;
		$carousel-control-text-decoration-hover: underline !default;

		/* ------------------------------ */
		/*	Carousel
		/* ------------------------------ */

		$carousel-caption-background-color: #111 !default;
		$carousel-caption-color: #fff !default;

		$carousel-control-color: #fff !default;
		$carousel-control-text-decoration: none !default;

		$carousel-control-color-hover: #fff !default;
		$carousel-control-text-decoration-hover: underline !default;

		$carousel-nav-background-color: transparent !default;
		$carousel-nav-border: 2px solid #111 !default;

		$carousel-nav-background-color-hover: null !default;
		$carousel-nav-border-color-hover: null !default;

		$carousel-nav-background-color-active: #fff !default;
		$carousel-nav-border-color-active: null !default;

		/* ------------------------------ */
		/*	Tabs
		/* ------------------------------ */

		$tabs-nav-border-color: #c0c0c0 !default;

		$tabs-nav-item-background-color: null !default;
		$tabs-nav-item-border-color: transparent !default;
		$tabs-nav-item-color: null !default;

		$tabs-nav-item-background-color-hover: #ebebeb !default;
		$tabs-nav-item-border-color-hover: #c0c0c0 !default;
		$tabs-nav-item-color-hover: null !default;

		$tabs-nav-item-background-color-active: #fff !default;
		$tabs-nav-item-border-color-active: #c0c0c0 !default;
		$tabs-nav-item-color-active: #454545 !default;

		/* ------------------------------ */
		/*	Dropdown
		/* ------------------------------ */

		$accordion-border-color: #c0c0c0 !default;

		$accordion-head-background-color: null !default;
		$accordion-body-background-color: null !default;

		$accordion-link-color: null !default;
		$accordion-link-text-decoration: null !default;

		$accordion-link-color-hover: null !default;
		$accordion-link-text-decoration-hover: null !default;

/* ---------------------------------------------------------------------- */
/*	Mixins
/* ---------------------------------------------------------------------- */

	/* -------------------------------------------------- */
	/*	Media Queries
	/* -------------------------------------------------- */

	@mixin bp($point) {
		@if $point == xs {
			@media (max-width: 47.99em) {
				@content;
			}
		} @else if $point == s {
			@media (min-width: 48em) and (max-width: 61.99em) {
				@content;
			}
		} @else if $point == m {
			@media (min-width: 62em) and (max-width: 74.99em) {
				@content;
			}
		} @else if $point == l {
			@media (min-width: 75em) {
				@content;
			}
		}
	}

	@mixin bp-min($point) {
		@if $point == s {
			@media (min-width: 48em) {
				@content;
			}
		} @else if $point == m {
			@media (min-width: 62em) {
				@content;
			}
		}
	}

	@mixin bp-max($point) {
		@if $point == s {
			@media (max-width: 61.99em) {
				@content;
			}
		} @else if $point == m {
			@media (max-width: 74.99em) {
				@content;
			}
		}
	}

	/* -------------------------------------------------- */
	/*	Grid System - Base
	/* -------------------------------------------------- */

	@mixin grid-base($level) {
		.row [class*=col-] {
			&.reset-#{$level} {
				clear: both;
				margin-left: 0 !important;
			}

			&[class*=push-#{$level}-right] { float: right; }

				@if $level == 'xs' {
					+ {
						[class*=col-],
						[class*=col-xs] + [class*=col-] { margin-left: $grid-column-margin; }

						[class*=col-s],
						[class*=col-m],
						[class*=col-l],
						[class*=col-xs-12] { margin-left: 0; }
					}

					[class*=col-xs-12] + [class*=col-xs-],
					[class*=col-xs-] + [class*=col-xs-12] { margin-left: 0; }
				} @else {
					+ {
						[class*=col-#{$level}] { margin-left: $grid-column-margin; }

						[class*=col-#{$level}-12] { margin-left: 0; }
					}
				}

			@if $level != 'l' {
				@include bp($level) {

					&.reset-#{$level}-only {
						clear: both;
						margin-left: 0 !important;
					}

					&[class*=push-#{$level}-right-only] { float: right; }

				}
			}
		}
	}

	/* -------------------------------------------------- */
	/*	Grid System - Columns
	/* -------------------------------------------------- */

	@mixin grid-columns($level) {
		$column-width: (100% / 12);
		$column-width-with-margin: (100% - ($grid-column-margin * 11)) / 12;

		@for $i from 1 to 13 {
			$temp-width: $column-width-with-margin * $i + ($grid-column-margin * $i);

			.col-#{$level}-#{$i} { width: $temp-width - $grid-column-margin; }

			@if $i != 12 {
				.offset-#{$level}-#{$i} { margin-left: $temp-width; }

				.row [class*=col-] + .offset-#{$level}-#{$i} { margin-left: $temp-width + $grid-column-margin; }

				.push-#{$level}-#{$i} { left: $temp-width }

				.pull-#{$level}-#{$i} { right: $temp-width; }
			} @else {
				.col-#{$level}-#{$i} { margin-left: 0; }
			}
		}

		.no-gutter > {
			@for $i from 1 to 12 {
				$temp-width: $column-width * $i;

				.col-#{$level}-#{$i} { width: $temp-width; }

				.offset-#{$level}-#{$i},
				[class*=col-] + [class*=col-].offset-#{$level}-#{$i} { margin-left: $temp-width; }

				.push-#{$level}-#{$i} { left: $temp-width; }

				.pull-#{$level}-#{$i} { right: $temp-width; }
			}
		}
	}

/* ---------------------------------------------------------------------- */
/*	Functions
/* ---------------------------------------------------------------------- */

	/* -------------------------------------------------- */
	/*	PX to EM
	/* -------------------------------------------------- */

	@function em($value, $base: $base-font-size-px) {
		@return ($value / $base) + em;
	}

/* ---------------------------------------------------------------------- */
/*	Partials
/* ---------------------------------------------------------------------- */

	/* -------------------------------------------------- */
	/*	Base Styles
	/* -------------------------------------------------- */

	@import 'copyright',
			'normalize',
			'base',
			'helpers-base',
			'helpers';

	/* -------------------------------------------------- */
	/*	Grid System
	/* -------------------------------------------------- */

	@import 'grid-base',
			'grid-small',
			'grid-medium',
			'grid-large';

	/* -------------------------------------------------- */
	/*	CSS Components
	/* -------------------------------------------------- */

	@import	'forms';
	@import	'buttons';
	@import	'media';
	@import	'lists';
	@import	'tables';
	@import	'alerts';
	@import	'code';

	/* -------------------------------------------------- */
	/*	JS Plugins
	/* -------------------------------------------------- */

	@import	'lightbox';
	@import	'carousel';
	@import	'tabs';
	@import	'dropdown';
	@import	'tablelist';
	@import	'autosize';

	/* -------------------------------------------------- */
	/*	Print Styles
	/* -------------------------------------------------- */

	@import 'print';