@font-face {
	font-family: 'icons';
	src: url('fonts/icons.eot?v=<%= timestamp %>');
	src: url('fonts/icons.eot?#iefix&v=<%= timestamp %>') format('embedded-opentype'),
	     url('fonts/icons.woff?v=<%= timestamp %>')       format('woff'),
	     url('fonts/icons.ttf?v=<%= timestamp %>')        format('truetype');
	font-weight: normal;
	font-style: normal;
}

.icon {
	line-height: 1;

	&:before {
		@include icon-font;
		content: attr(data-icon);
	}

	&.-size-2x { font-size: 2em; }
	&.-size-3x { font-size: 3em; }
	&.-size-4x { font-size: 4em; }
	&.-size-5x { font-size: 5em; }

	// Generated icon classes
	<% _.each(glyphs, function(glyph) { %>
	&.-i-<%= glyph.name %>:before { content: '\<%= glyph.codepoint.toString(16).toLowerCase() %>'; }
	<% }); %>
}
